{% extends 'dash/base.html' %}
{% load static %}
{% block title %}Study Music{% endblock %}
{% block id %}{{ userid }}{% endblock %}
{% block content %}

<div class=" align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 mt-20 text-4xl text-purple-400">The Power of Music</h1>
    <br>
    <h3 class="h5 text-gray-400 mb-12">Music can significantly enhance studying by improving concentration, memory, and
        mood. Instrumental
        or classical music provides a background ambiance that reduces distractions and helps maintain a steady study
        pace. It aids memory by creating associations with study material and enhancing recall through context-dependent
        memory. Soothing music lowers stress levels and regulates mood, making studying more enjoyable. Upbeat tunes
        boost energy and motivation, while enjoyable music fosters a positive association with studying. Additionally,
        music stimulates creativity and supports problem-solving. Using music to segment study periods can improve time
        management, and pairing it with techniques like Pomodoro can enhance focus. Choosing the right music—preferably
        instrumental and at a moderate volume—creates an optimal study environment.</h3>
</div>

<section class="grid grid-cols-1 sm:grid-cols-3 gap-4">
    <!-- <iframe width="1000" height="100" wmode="transparent" src="https://www.youtube.com/embed/RqzGzwTY-6w&t?playlist=RqzGzwTY-6w&t" frame&modestbranding=0border="0" ></iframe> -->

    <div class="border-purple-400 border-[3px]  min-h-[99%] shadow-lg rounded p-3 pr-6">
        <div class="group relative">
            <iframe class="w-full md:w-25 block rounded "
                src="https://www.youtube.com/embed/Q6MemVxEquE?playlist=Q6MemVxEquE&loop=1&modestbranding=0"
                colour="purple" wmode="transparent" frameborder="2" alt=""></iframe>

        </div>
        <div class="pt-3 px-3">
            <h3 class="text-white text-lg">Brown Music</h3>
            
        </div>
    </div>

    <div class="border-purple-400 border-[3px]  min-h-[99%] shadow-lg rounded p-3 pr-6">
        <div class="group relative">
            <iframe class="w-full md:w-25 block rounded "
                src="https://www.youtube.com/embed/U_oxOhncGe0?playlist=U_oxOhncGe0&loop=1&modestbranding=1"
                colour="purple" wmode="transparent" frameborder="2" alt=""></iframe>

        </div>
        <div class="pt-3 px-3">
            <h3 class="text-white text-lg">Classical Music</h3>
            
        </div>
    </div>

    <div class="border-purple-400 border-[3px]  min-h-[99%] shadow-lg rounded p-3 pr-6">
        <div class="group relative">
            <iframe class="w-full md:w-25 block rounded "
                src="https://www.youtube.com/embed/5GroWAOn8h8?playlist=5GroWAOn8h8&loop=1&modestbranding=0"
                colour="purple" wmode="transparent" frameborder="2" alt=""></iframe>
        </div>
        <div class="pt-3 px-3">
            <h3 class="text-white text-lg">Instrumental Music</h3>
            
        </div>
    </div>

    <div class="border-purple-400 border-[3px]  min-h-[99%] shadow-lg rounded p-3 pr-6">
        <div class="group relative">
            <iframe class="w-full md:w-25 block rounded"
                src="https://www.youtube.com/embed/sjkrrmBnpGE?playlist=sjkrrmBnpGE&loop=1&modestbranding=0"
                colour="purple" wmode="transparent" frameborder="2" alt=""></iframe>
        </div>
        <div class="pt-3 px-3">
            <h3 class="text-white text-lg">Ambient Music</h3>
         
        </div>
    </div>

    <div class="border-purple-400 border-[3px]  min-h-[99%] shadow-lg rounded p-3 pr-6">
        <div class="group relative">
            <iframe class="w-full md:w-25 block rounded"
                src="https://www.youtube.com/embed/U0eLmyJkQBc?playlist=U0eLmyJkQBc&loop=1&modestbranding=0"
                colour="purple" wmode="transparent" frameborder="2" alt=""></iframe>
        </div>
        <div class="pt-3 px-3">
            <h3 class="text-white text-lg">Binaural Beats</h3>
          
        </div>
    </div>

    <div class="border-purple-400 border-[3px]  min-h-[99%] shadow-lg rounded p-3 pr-6">
        <div class="group relative">
            <iframe class="w-full md:w-25 block rounded"
                src="https://www.youtube.com/embed/Jvgx5HHJ0qw?playlist=Jvgx5HHJ0qw&loop=1&modestbranding=0"
                colour="purple" wmode="transparent" frameborder="2" alt=""></iframe>
        </div>
        <div class="pt-3 px-3">
            <h3 class="text-white text-lg">Nature Sounds</h3>
           
        </div>
    </div>

    <div class="border-purple-400 border-[3px]  min-h-[99%] shadow-lg rounded p-3 pr-6">
        <div class="group relative">
            <iframe class="w-full md:w-25 block rounded"
                src="https://www.youtube.com/embed/8dFExnve2do?playlist=8dFExnve2do&loop=1&modestbranding=0"
                colour="purple" wmode="transparent" frameborder="2" alt=""></iframe>
        </div>
        <div class="pt-3 px-3">
            <h3 class="text-white text-lg">Jazz Music</h3>
            
        </div>
    </div>



    </div>
</section>

{% endblock %}