{% extends 'dash/base.html' %}
{% load static %}
{% block title %}Connect with Other Farmers in India{% endblock %}
{% block content %}
<div class=" align-items-center justify-content-between mb-4">
    <h1 class="h3 text-4xl mb-0 text-purple-400">Forum</h1>
    <br>
    <h3 class="h5">Welcome to the Brainiac Community Forum, where learners come together to connect, collaborate, and
        grow. Whether you're a student, educator, or lifelong learner, our forum provides a supportive space to share
        insights, ask questions, and discuss ideas on a wide range of topics. Engage in lively discussions, seek advice
        from peers and experts, and stay updated on the latest trends in education and beyond. Join us in shaping the
        future of learning through meaningful interactions and valuable exchanges. Together, let's inspire and empower
        each other to reach new heights in knowledge and skill development.</h3>
</div>

<div class="row">
    <!-- Code me a responsive forum  -->
    <div class="col-xl-12 col-lg-7">
        <div class="card border-0 shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div>

                <div class="card-body bg-black">
                    <div class="message-area bg-black">
                        <script src="https://apps.bravenet.com/go.js?service=forum;id=1;usernum=937847004"
                            type="text/javascript" charset="utf-8"></script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}