{% extends 'dash/base.html' %}
{% load static %}
{% block title %}Brainiac{% endblock %}
{% block content %}
<!-- Page Heading -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-purple-400">Dashboard</h1>
    </div>

    <!-- Content Row -->
    <div class="row">

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card bg-black bg-black shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-purple-400 text-uppercase mb-1">
                                Brain Points</div>
                            <div class="h5 mb-0 font-weight-bold text-white">{{ points }}</div>
                        </div>
                        <div class="col-auto">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card text-purple-400 bg-black shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold  text-purple-400 text-uppercase mb-1">
                                Tests Taken</div>
                            <div class="h5 mb-0 font-weight-bold text-white">{{ quiz_count }}</div>
                        </div>
                        <div class="col-auto">
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Pending Requests Card Example -->
       
    </div>

    <!-- Content Row -->

    <div class="row">

        <!-- Area Chart -->
        <div class="col-xl-8 col-lg-7">
            <div class="card shadow bg-black mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row bg-black align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-purple-400">Performance Overview</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <!-- Latest Quiz Section -->
                    <div class="mb-4">
                        <h2 class=" font-semibold text-white text-xl mb-6">Latest Quiz</h2>
                        {% for quiz in quizzes %}
                        <div class="bg-black border border-purple-400 rounded-lg shadow-lg p-4">
                            <h3 class="text-lg font-semibold text-purple-400 mb-2">{{ quiz }}</h3>
                            <p class="text-gray-400 mb-2">Score: {{ last_quiz|index:forloop.counter0}}</p>
                        </div>
                        {% endfor %}
                    </div>
        
                    <!-- Quiz Performance Section -->
                    <div class="mb-4">
                        <h2 class="text-xl font-semibold text-white mb-2">Quiz Performance</h2>
                        <div class="bg-black border border-purple-400 rounded-lg shadow-lg p-4">
                            <p class="text-gray-400 mb-2">Total Quizzes: {{quiz_count}}</p>
                            <p class="text-gray-400 mb-2">Average Score: {{avg}}</p>
                            <a href="/admin/quizzes" class="inline-block text-sm my-6 border-2  hover:bg-purple-700 focus:outline-none focus:ring-2 focus:ring-purple-600 focus:ring-opacity-50 text-white font-bold py-2 px-4 rounded-lg transition duration-300">
                                View All Quizzes
                            </a>
                        </div>
                    </div>
        
                    
                    
                </div>
            </div>
        </div>
        

        <!-- Pie Chart -->
        <div class="col-xl-4 col-lg-5">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header bg-black py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-purple-400">News</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body bg-black">
                    {% for article in news %}
                    <div class="card shadow mb-4">
                        <!-- Card Header - Accordion -->
                        <a href="{{ article.url }}" class="d-block bg-black card-header py-3" data-toggle="collapse" role="button">
                            <h6 href="{{ article.url }}" class="m-0 font-weight-bold text-purple-400">{{ article.title }} </h6>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

    <!-- Content Row -->
    <div class="row">

        <!-- Content Column -->
        <div class="col-lg-12 mb-4">

        <div class="col-lg-6 mb-4">

        </div>

{% endblock %}
{% block scripts %}
{% endblock scripts %}